body{
    font-family: "Lucida Console", "Courier New", monospace;
    align-items: center;
    /* background-color: blue;
    color: red;
    aight waiting for someone to kill me */
}

.tabs-pannel{
    top: 0;
    align-content: center;
    position: sticky;
}

.chat-pannel{
    right: 0;
    bottom: 0;
    text-align: left;
    position: fixed;
    background-color: rgba(144, 255, 222);
}

.tab{
    padding-right: 5%;
}

.flex{
    display: flex;
    flex: 1;
}

.left-align{
    left: 0;
    width: 30%;
}

.options {
    background-color: grey;
    top: 0;
    position: relative;
    height: 50%;
    width: 30%;
}

.stats {
    background-color: aqua;
    bottom: 0;
    position: fixed;
    height: 50%;
    width: 30%;
}

.main-screen {
    background-color: yellow;
    background-image: url("./assets/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    left: 20%;
    position: fixed;
    height: 100%;
    width: 50%;
}

.tab-element {
    height: 100%;
    overflow: hidden;
}

#messages{
    background-color: rgb(236, 236, 236);
    right: 10px;
    top: 10px;
    position: fixed;
    width: 20%;
    height: 93%;
    border-radius: 10px;
    border: 5px solid #000000;
    padding: 10px;
    text-align: left;
    align-self: flex-start;
    word-wrap: normal;
    word-break: break-all;
    overflow: scroll;
}

.message{
    text-align: left;

}