body{
    font-family: "comic sans ms";
    /* background-color: blue;
    color: red;
    aight waiting for someone to kill me */
}

.tabs-pannel{
    top: 0;
    align-content: center;
    position: sticky;
}

.chat-pannel{
    right: 0;
    bottom: 0;
    text-align: left;
    position: fixed;
}

.tab{
    padding-right: 5%;
}

.flex{
    display: flex;
}

.left-align{
    left: 0;
}

.options {
    top: 0;
    position: relative;
    height: 50%;
}

.stats {
    bottom: 0;
    position: fixed;
    height: 50%;
}

#messages{
    right: 0;
    top: 0;
    position: fixed;
    width: 20%;
    height: 90%;
    text-align: left;
    align-self: flex-start;
    word-wrap: normal;
    word-break: break-all;
    overflow: scroll;
}

.message{
    text-align: left;

}